.header{
    position: relative;
    height: 700px;
    width: 100%;
    background: {
        image: url(../../image/background.jpg) ;
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    .content{
        position: absolute;
        width: 80%;
        top: 40%;
        left: 20%;
        .search-header{
            width: 75%;
        }
        h2{
            color: #fff;
            font-size: 50px;
        }
    }
}

@media (max-width: 768px) {
    .header{
        height: 500px;
        .content{
            margin-left: -30px;
            width: 100%;
            .search-header{
                
            }
        }
    }
 }